{% extends 'app/base.html' %}
<!--airphone details-->
{% load static %} {% block title %}Buy Now{%endblock title %}
<!--airphone details-->
<!--Add css -->
<style>
          {% block style %}
        .item {
          height: 300px;
          width: 250px;
          /* margin: 1px; */
          padding: 14px;
          border: 1px solid gray;
          border-radius: 10px;
          transition: 0.2s;
    }
    .item:hover{
          box-shadow: 1px 0px 7px 1px;

    }
    .item img {

      height: 141px;
      width: 224px;
  }
          {% endblock style %}
</style>
<!--end add css -->
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group" style="margin-top: 6rem !important">
        <a
          href="{% url 'airphone' %}"
          class="list-group-item list-group-item-action"
          >All Airphone</a
        >
        <a
          href="{% url 'airphonedata' 'Xaomi' %}"
          class="list-group-item list-group-item-action"
          >Xaomi</a
        >
        <a
          href="{% url 'airphonedata' 'Nokia' %}"
          class="list-group-item list-group-item-action"
          >Nokia</a
        >
        <a
          href="{% url 'airphonedata' 'Realme' %}"
          class="list-group-item list-group-item-action"
          >Realme</a
        >
        <a
          href="{% url 'airphonedata' 'Remax' %}"
          class="list-group-item list-group-item-action"
          >Remax</a
        >
      </div>
    </div>
    <div class="col-sm-8 offset-sm-1" style="margin-top: 6rem !important">
      <h2>OnlineShop Air Phone</h2>

      <div class="airphone_page">
        {% for i in airphone %}
        <a href="{% url 'product-detail' i.id %}" class="btn"
          ><div class="item">
            <img src="{{i.product_image.url}}" alt="" height="180px" />
            <p class="fw-bold">{{i.title}}</p>
            <br />
            <p class="mb-dis fs-5" style="margin-top: -26px">
              Rs. {{i.discount_price}}
            </p>
          </div></a
        >
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
